1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data in a computer so    that it can be accessed and used efficiently.

      - Explanation: They provide a means to manage large amounts of data for efficient use, which is crucial for building complex software and algorithms. Different data structures are suited for different tasks (e.g., a list for ordered items, a dictionary for quick lookups).

2.  Explain the difference between mutable and immutable data types with       examples?
   -  Mutable data types can be changed after they are created, while immutable data types cannot.

      - Explanation:

         - Mutable Examples: Lists ([1, 2, 3]) and dictionaries ({'a': 1}) can have elements added, removed, or modified in place.

         - Immutable Examples: Strings ("hello") and tuples ((1, 2, 3)) cannot be altered after creation. Any "modification" actually creates a new object.

3. What are the main differences between lists and tuples in Python3?
  -  Lists are mutable and use square brackets, while tuples are immutable and use parentheses.

      - Explanation:
        - Lists are used for dynamic collections of items that may change during program execution.
        - Tuples are used for fixed collections of items, often to ensure that the data remains constant.

4. Describe how dictionaries store data?
  - Dictionaries store data as a collection of key-value pairs.

     - Explanation: Each unique key is used to access its associated value. This allows for very fast retrieval of data compared to searching through a sequential list.

5. Why might you use a set instead of a list in Python?
  - A set is used when you need a collection of unique, unordered elements and want to perform fast membership testing or eliminate duplicates.

      - Explanation: Sets automatically handle duplicate values, ensuring each element appears only once. They also provide faster lookups using the in keyword than lists do.

6. What is a string in Python, and how is it different from a lis?
 - A string is a sequence of characters, and the main difference is that strings are immutable, while lists are mutable.

    - Explanation: You cannot change an individual character within a string in place, but you can modify elements within a list. Both support indexing and slicing.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity because they are immutable, meaning their contents cannot be changed once created.
   - Explanation: This prevents accidental modification of critical data within a program, making them suitable for storing constant information like coordinates or database records.

8. What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is a data structure that implements an associative array, and dictionaries in Python are implemented using hash tables.

    - Explanation: The hash table allows dictionaries to provide highly efficient average-case time complexity for operations like insertion, deletion, and retrieval of elements.

9. Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types.
  - Explanation: A single list can store an integer, a string, a float, and even another list or dictionary simultaneously, for example: [1, "hello", 3.14, {'key': 'value'}].

10. Explain why strings are immutable in Python?    
- Strings are immutable in Python primarily for performance reasons and to allow them to be used as dictionary keys.
    - Explanation: Immutability allows Python to optimize string storage and manipulation. It also guarantees that the hash value of a string (used in hash tables/dictionaries) remains constant throughout its lifetime.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer the primary advantage of fast, direct access to elements using keys, rather than searching sequentially by index.
  - Explanation: This makes them ideal for tasks involving lookups, counting frequencies, or storing data where a specific identifier (the key) is available to retrieve the associated information (the value).

12. Describe a scenario where using a tuple would be preferable over a list?
- A tuple would be preferable when storing fixed data that should not be changed, such as a set of geographic coordinates ((latitude, longitude)).

    - Explanation: Because coordinates are constant values, using a tuple ensures data integrity and prevents accidental modification in the code.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values, ensuring that every element within the set is unique.

   - Explanation: When you add a duplicate item to a set, it is simply ignored, and the set remains unchanged.

14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, the in keyword checks if a value exists anywhere in the list, while for dictionaries, it checks if a value exists as a key.
  - Explanation: To check if a value exists within the values of a dictionary, you would need to iterate through the .values() view or use the in operator on the values explicitly.  

15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple because they are immutable.
    - Explanation: Once a tuple is created, its size and contents are fixed. Attempting to change an element will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where some of the values are themselves dictionaries.
    - Explanation: A common use case is storing hierarchical data, such as a database of users with multiple attributes: {'user1': {'name': 'Alice', 'age': 30}, 'user2': {'name': 'Bob', 'age': 25}}.

17. Describe the time complexity of accessing elements in a dictionary?
- The average-case time complexity for accessing elements in a dictionary is O(1) (constant time).
    - Explanation: This is due to the underlying hash table implementation, which allows direct calculation of an element's location based on its key. In the worst case (due to hash collisions), it can be O(n), but this is rare in practice.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred when you need an ordered sequence of items, want to access elements by a numerical index, or need to store duplicate values.
    - Explanation: Lists are efficient for operations like appending items to the end, slicing a range of items, and maintaining the original insertion order of elements.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Historically, dictionaries were unordered because their internal storage (hash table) optimized for speed rather than order. In modern Python versions (3.7+), they maintain insertion order, but they are still not ordered by key value.
    - Explanation: This means you can rely on the order in which items were added, but you cannot assume the keys will be sorted alphabetically or numerically when you iterate through the dictionary.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?
- Data in a list is retrieved using a zero-based integer index, while data in a dictionary is retrieved using a specific key (which can be any immutable type).
    - Explanation: Lists use positional access, whereas dictionaries use associative access, mapping keys to values directly.

                                                   
                                                  Practical Questions

1. Write a code to create a string with your name and print it ?

In [2]:
name = "Akshra"
print(name)

Akshra

2. Write a code to find the length of the string "Hello World?

In [3]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

 4. Write a code to convert the string "hello" to uppercase?

In [5]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [6]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [10]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50] ?

In [11]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [12]:
my_tuple = (100, 200, 300)

In [13]:
print(my_tuple)

(100, 200, 300)

In [14]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?

In [15]:
colors = ('red', 'green', 'blue', 'yellow')

In [16]:
second_to_last = colors[-2]

In [17]:
print(second_to_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

In [18]:
numbers = (10, 20, 5, 15)

In [19]:
minimum_number = min(numbers)

In [20]:
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

In [23]:
animals = ('dog', 'cat', 'rabbit')

In [24]:
cat_index = animals.index('cat')

In [25]:
print(cat_index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?

In [26]:
fruits = ('apple', 'banana', 'orange')

In [27]:
is_kiwi_present = 'kiwi' in fruits

In [28]:
print(is_kiwi_present)

False

In [29]:
fruits = ('apple', 'banana', 'orange')
is_kiwi_present = 'kiwi' in fruits
print(is_kiwi_present)

False

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [30]:
my_set = {'a', 'b', 'c'}

In [31]:
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?

In [32]:
my_set = {1, 2, 3, 4, 5}

In [33]:
my_set.clear()

In [34]:
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?

In [35]:
my_set = {1, 2, 3, 4}

In [36]:
my_set.remove(4)

In [38]:
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [40]:
union_set = set1.union(set2)

In [41]:
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?

In [42]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

In [43]:
intersection_set = set1.intersection(set2)

In [44]:
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?

In [45]:
person_dict = {"name": "John Doe", "age": 30, "city": "Anytown"}

In [46]:
print(person_dict)

{'name': 'John Doe', 'age': 30, 'city': 'Anytown'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

In [47]:
person_dict = {'name': 'John', 'age': 25}

In [48]:
person_dict["country"] = "USA"

In [49]:
print(person_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

In [51]:
person_dict = {'name': 'Alice', 'age': 30}

In [52]:
name_value = person_dict["name"]

In [53]:
print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?

In [54]:
person_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [55]:
person_dict.pop("age")

22

In [56]:
print(person_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

In [57]:
person_dict = {'name': 'Alice', 'city': 'Paris'}

In [58]:
is_city_present = "city" in person_dict

In [59]:
print(is_city_present)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all ?

In [60]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

In [61]:
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8, 'c': 9}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced) ?

In [62]:
import random

In [63]:
random_numbers = [random.randint(1, 100) for _ in range(5)]

In [64]:
random_numbers.sort()

In [65]:
print(random_numbers)

[10, 14, 24, 27, 100]

28. Write a code to create a list with strings and print the element at the third index ?

In [66]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

In [67]:
third_index_element = my_list[3]

In [68]:
print(third_index_element)

date

29. Write a code to combine two dictionaries into one and print the result ?

In [69]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

In [70]:
combined_dict = dict1 | dict2

In [71]:
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set ?

In [72]:
string_list = ["dog", "cat", "rabbit", "dog", "fish"]

In [73]:
string_set = set(string_list)

In [74]:
print(string_set)

{'cat', 'dog', 'rabbit', 'fish'}